body {
  margin: 0;
  padding: 0;
}

section {
  text-align: center !important;
}
section .display-area {
  border: 1px solid #000;
  height: 50px;
  justify-content: center;
  align-items: center;
}
section .display-area span:first-child {
  background-color: rgb(49, 133, 207);
}
section .calculator {
  display: flex;
}
section .calculator .numbers {
  border-right: 1px solid #000;
}
section .calculator .numbers .numbers-row {
  margin-left: 0 !important;
}
section .calculator .numbers .numbers-row .utility {
  background-color: #a4e2f7 !important;
}
section .calculator .numbers .numbers-row .number {
  background-color: #a4f7d9;
}
section .calculator .numbers .numbers-row .operator {
  background-color: #f7a4c7;
}
section .calculator .numbers .numbers-row .buttons {
  width: 51.7px;
  height: auto;
}
section .calculator .operators {
  display: flex;
  flex-direction: column;
  margin-left: -10px !important;
}

.buton {
  border-bottom: 1px solid #000 !important;
  border-left: 1px solid #000 !important;
  border-radius: 0px !important;
  width: auto;
  height: auto;
}

#equals {
  width: 103.6px;
}